 html, body, #wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

#wrapper {
   position: relative;
}

#controls{
    position:absolute;
    width:100%; 
    height:25px; 
    top:0px;
    background-color: white;
    outline: none;  
}

#ScribbleView{
    position:absolute;
    left:0px;
    right:0px;
    top:25px; 
    bottom: 0px;
    background-color: #ffffff;
    border-style:solid;
    border-width:10px;
    border-color:#ffffff
}

.profiler {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    width: 100px;
    float:right;
    padding-top: 5px;
}
